body,html,div,h1,h2,h4,h5,h6,p{
  text-align: center;
}
#card-enter > h3{
  color:black
}
#card-enter{
  width:50%;
  margin: 0 auto;
}
#note-display{
  width:80%;
  font-size: 16px;
  margin:0 auto;
  padding: 8px;
  color:white;
}
